.fondo_index{
    background-color: rgb(181, 190, 255);
}

.no-link {
    text-decoration: none;
}

.boton{
    text-decoration: none;
    padding: 10px;
    color: white;
    background-color: rgb(163, 175, 255);
    border: none;
    position: relative;
    top: 1.5rem;
    border-radius: 20px;
}

.boton a{
    text-decoration: none;
    padding: 10px;
    color: black;
    background-color: rgb(163, 175, 255);
    border: none;
    position: relative;
    top: 0.1rem;
}

.perro_roto{
    width: 40rem;
}

.fondo_perro_roto{
    background-color: rgb(163, 175, 255);
    border-radius: 20px;
}


